@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #0d314f;
  --foreground: #171717;
  --primary: #4f637d;
  --primary-foreground: #f8f9fc;
  --secondary: #134267;
  --thirdly: #96caf7;
  --accent: #32abf2;
  --accent-hover: #2293cf;
  --success: #65bd47;
  --success-secondary: #f3fcf4;
  --input: #f8f9fc;
  --placeholder: #c3cad5;
  --muted: #5d7fa3;
  --gmail: #5383ec;
  --dark: #030e16;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}
